{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <!-- the following is from: -->
    <!--     https://carlschwan.eu/2020/12/29/adding-comments-to-your-static-blog-with-mastodon/ -->
    {{ with .Params.comments }}
    <div class="article-content">
      <h2>评论</h2>
      <p>你可以使用你的 Mastodon 帐号来回复这条<a class="link" href="https://{{ .host }}/@{{ .username }}/{{ .id }}">嘟文</a>，公开的回复会显示在这里.</p>
      <p><a class="button" href="https://{{ .host }}/interact/{{ .id }}?type=reply">回复</a></p>
      <p id="mastodon-comments-list"><button id="load-comment">加载评论</button></p>
      <noscript><p>你需要 JavaScript 来查看评论.</p></noscript>
      <script src="/assets/js/purify.min.js"></script>
      <script type="text/javascript">
        function escapeHtml(unsafe) {
          return unsafe
               .replace(/&/g, "&amp;")
               .replace(/</g, "&lt;")
               .replace(/>/g, "&gt;")
               .replace(/"/g, "&quot;")
               .replace(/'/g, "&#039;");
       }
    
        document.getElementById("load-comment").addEventListener("click", function() {
          document.getElementById("load-comment").innerHTML = "加载中";
          fetch('https://{{ .host }}/api/v1/statuses/{{ .id }}/context')
            .then(function(response) {
              return response.json();
            })
            .then(function(data) {
alert(JSON.stringify(data));
if(data['descendants']){alert("ccc");}else{alert("noccc");}
if(Array.isArray(data['descendants'])){alert("ddd");}else{alert("noddd");}
if(data['descendants'].length > 0){alert("eee");}else{alert("noeee");}
/* 还没有测试好. 不知道是不是我的实例的问题，fetch 的时候会出现："error":"This method requires an authenticated user" */
              if(data['descendants'] &&
                 Array.isArray(data['descendants']) && 
                data['descendants'].length > 0) {
alert("aaa");
                  document.getElementById('mastodon-comments-list').innerHTML = "";
                  data['descendants'].forEach(function(reply) {
                    reply.account.display_name = escapeHtml(reply.account.display_name);
                    reply.account.emojis.forEach(emoji => {
                      reply.account.display_name = reply.account.display_name.replace(`:${emoji.shortcode}:`,
                        `<img src="${escapeHtml(emoji.static_url)}" alt="Emoji ${emoji.shortcode}" height="20" width="20" />`);
                    });
                    mastodonComment =
                      `<div class="mastodon-comment">
                         <div class="avatar">
                           <img src="${escapeHtml(reply.account.avatar_static)}" height=60 width=60 alt="">
                         </div>
                         <div class="content">
                           <div class="author">
                             <a href="${reply.account.url}" rel="nofollow">
                               <span>${reply.account.display_name}</span>
                               <span class="disabled">${escapeHtml(reply.account.acct)}</span>
                             </a>
                             <a class="date" href="${reply.uri}" rel="nofollow">
                               ${reply.created_at.substr(0, 10)}
                             </a>
                           </div>
                           <div class="mastodon-comment-content">${reply.content}</div> 
                         </div>
                       </div>`;
                    document.getElementById('mastodon-comments-list').appendChild(DOMPurify.sanitize(mastodonComment, {'RETURN_DOM_FRAGMENT': true}));
                  });
              } else {
alert("bbb");
                document.getElementById('mastodon-comments-list').innerHTML = "<p>没有找到评论.</p>";
              }
            });
          });
      </script>
    </div>
    {{ end }}
    <!-- the above is from: -->
    <!--     https://carlschwan.eu/2020/12/29/adding-comments-to-your-static-blog-with-mastodon/ -->
        
  </main>
{{ end }}
